{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel ="stylesheet">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    {% if not user.is_staff %}
    <p>Click the link below to view the course list:</p>
    <a href="{% url 'course_list' %}">Go to Course List</a>
    <br><a href="{% url 'my_quota_requests' %}">My requests</a><br>
    <a href="{% url 'my_enrolled_courses' %}">My courses</a>
    {% endif %}
    {% if user.is_staff %}
    <br><a href= "{% url 'quota_requests_list' %}">Quota Requests</a></br>
    <a href= "{% url 'admin_dashboard' %}">Admin Dashboard</a>
    {% endif %}
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %} 
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>
