{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="{% static 'bootstrap.min.css' %}" rel ="stylesheet">
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Course Quota</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              {% if not user.is_staff%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'course_list' %}">Course List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'my_quota_requests' %}">My Request</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'my_enrolled_courses' %}">My Course</a>
              </li>
              {% endif %}

              {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quota_requests_list' %}">Quota Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
              </li>
            {% endif %}
            </ul>
            {% if user.is_authenticated%}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Hello ({{ user.first_name }} {{ user.last_name }})</a>
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </li>
            </ul>
            {%else%}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="register">Signup</a>
                </li>
            </ul>
            {% endif%}
          </div>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <h1>Welcome, {{ user.first_name }} {{user.last_name}} {{ user.username }}!</h1>
  </body>
</head>
</html>
